body {
    background-color: rgb(202, 160, 104);
    margin: 10rem;
    text-align: center;
}

h1 {
    color: rgb(7, 128, 7);
}
#border{
  border-radius: 20%;
  background-color: rgb(13, 199, 199);
  padding: 6;
}
#warning,#warning1{
  color: red;
}